*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 10px;
}

body {
  /*height: 100vh;*/
  margin: 0; 
  /*width: 100%;*/
  background-color: #CFD8DC;
}

h1 {
  margin: 2rem;
  color: #FFF;
  font-size: 8rem;
}

input {
  height: 5rem;
  margin: 3.5rem;
  padding-left: 1rem;
  width: 80%;
  font-size: 2.5rem;
  color: #BEBFC1;
}

span {
  margin: 1.5rem;
}

img {
  width: 12rem;
}

section {
  display: inline-block;
  width: calc(50% - 1.999px);
  margin: 0;
  height: 100vh;
  vertical-align: top;

}

h2 {
  margin: 0;
  border-bottom-color: #cfd8dc;
  border-bottom-style: solid;
  border-bottom-width: 80%;
  color: #455A64;
  font-size: 3rem;
  padding-bottom: 1rem;
}

nav {
  width: 100%;
  padding: 1.5rem 0 2rem 0;
  border-bottom-color: #cfd8dc;
  border-bottom-style: solid;
  border-bottom-width: 100%;
}

a {
  margin: 1rem 0;
  color: #607D8B;
  font-weight: 400;
  font-size: 2.3rem;
  text-decoration-color: #f2f4f4;
}

a:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

h3 {
  margin: 0;
  color: #607D8b;
}

.link-read {
  text-decoration-color: #CFD8DC;
}

.user-input {
  background-color: #455A64;
  text-align: center;
}

.input-data {
  position: relative;
  top: 20%;
}

.bookmarks {
  background-color: #CFD8DC;
  overflow: scroll;
}

.img-container {
  margin: 12px;
}

.enter-button {
  margin-top: 3.5rem;
  height: 5rem;
  width: 80%;
  color: #fff;
  background-color: #F7C244;
  border-radius: 0;
  border-style: none;
  font-size: 1.7rem;
  font-weight: 800;
}

.enter-button:hover {
  background-color: #ffd773;
}

.enter-button:disabled {
  background-color: #ffd773;
}

.card {
  position: relative;
  padding: 1.5rem;
  height: 20rem;
  margin: 2rem auto;
  width: 90%;
  background-color: #fff;
  border: 0.2rem  solid #607D8b;
}

.card-read {
  background-color: #f2f4f4;
}

.bookmark-btn {
  border: none;
  color: #455A64;
  font-size: 2rem;
  text-decoration-color: #f2f4f4;
  text-decoration: underline;
}

.bookmark-btn:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.read-btn {
  color: #F05A28;
  font-weight: 800;
}

.num-counter {
  text-align: center;
  border-radius: 15%;
  border: 0.5rem  solid #607D8b;
  margin: 2rem;
  background-color: #f2f4f4; 
  font-size: 2rem;
  font-weight: 800;
}

.top {
  margin-top: 2rem;
}

.read-count {
  margin-bottom: 2rem;
}

#count {
  border-radius: 25%;
  border: 0.2rem  solid #607D8b;
  width: 3rem;
  height: 3rem;
}

#delete-button {
 position: absolute;
 right: 1.5rem;
}

@media screen and (max-width: 1250px) {

  h1  {
    font-size: 7rem;
  }

  img {
    width: 9.5rem;
  }
}

@media screen and (max-width: 1075px) {

  h1 {
    font-size: 5.2rem;
    background-color: magenta;
  }

  img {
    font-size: 7.5rem;
  }
}

@media screen and (max-width: 800px) {

  h1 {
    background-color: chartreuse;
  }
}












